---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% include seo.html %}
    {% include analytics.html %}
    {% seo %}
    <meta name="google-site-verification" content="h9516ZMY05nK9n6WSiNTB2y9XSE8f18QXcOBC1TycnA" />
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include cookie-consent.html%}
  </body>
</html>
